web/WEB-INF/wsdl/localhost_8080/TickerdienstWS/TickerdienstWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tickerdienst.boerse.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tickerdienst.boerse.com/" name="TickerdienstWS">
<types>
<xsd:schema>
<xsd:import namespace="http://tickerdienst.boerse.com/" schemaLocation="http://localhost:8080/TickerdienstWS/TickerdienstWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getAktienkurspername">
<part name="parameters" element="tns:getAktienkurspername"/>
</message>
<message name="getAktienkurspernameResponse">
<part name="parameters" element="tns:getAktienkurspernameResponse"/>
</message>
<message name="getallAktienkurse">
<part name="parameters" element="tns:getallAktienkurse"/>
</message>
<message name="getallAktienkurseResponse">
<part name="parameters" element="tns:getallAktienkurseResponse"/>
</message>
<message name="addAktien">
<part name="parameters" element="tns:addAktien"/>
</message>
<message name="addAktienResponse">
<part name="parameters" element="tns:addAktienResponse"/>
</message>
<message name="deleteAll">
<part name="parameters" element="tns:deleteAll"/>
</message>
<message name="deleteAllResponse">
<part name="parameters" element="tns:deleteAllResponse"/>
</message>
<portType name="TickerdienstWS">
<operation name="getAktienkurspername">
<input wsam:Action="http://tickerdienst.boerse.com/TickerdienstWS/getAktienkurspernameRequest" message="tns:getAktienkurspername"/>
<output wsam:Action="http://tickerdienst.boerse.com/TickerdienstWS/getAktienkurspernameResponse" message="tns:getAktienkurspernameResponse"/>
</operation>
<operation name="getallAktienkurse">
<input wsam:Action="http://tickerdienst.boerse.com/TickerdienstWS/getallAktienkurseRequest" message="tns:getallAktienkurse"/>
<output wsam:Action="http://tickerdienst.boerse.com/TickerdienstWS/getallAktienkurseResponse" message="tns:getallAktienkurseResponse"/>
</operation>
<operation name="addAktien">
<input wsam:Action="http://tickerdienst.boerse.com/TickerdienstWS/addAktienRequest" message="tns:addAktien"/>
<output wsam:Action="http://tickerdienst.boerse.com/TickerdienstWS/addAktienResponse" message="tns:addAktienResponse"/>
</operation>
<operation name="deleteAll">
<input wsam:Action="http://tickerdienst.boerse.com/TickerdienstWS/deleteAllRequest" message="tns:deleteAll"/>
<output wsam:Action="http://tickerdienst.boerse.com/TickerdienstWS/deleteAllResponse" message="tns:deleteAllResponse"/>
</operation>
</portType>
<binding name="TickerdienstWSPortBinding" type="tns:TickerdienstWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAktienkurspername">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getallAktienkurse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAktien">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TickerdienstWS">
<port name="TickerdienstWSPort" binding="tns:TickerdienstWSPortBinding">
<soap:address location="http://localhost:8080/TickerdienstWS/TickerdienstWS"/>
</port>
</service>
</definitions>